.action-bar-dossier{

    padding: 0.2rem 0 0.4rem;

    .btn{
        padding: 0.1rem 0.5rem;
        font-size: 0.9rem;
    }

    .work{
        padding-right: 0.6rem;
        color: #999;
        vertical-align: super;
    }
}