.cell-dossier-render{

    position: relative;
    padding: 0.2rem 0 0 0.4rem;
    font-size: 1.0rem;
    color: #777;
    &.editable{
        color: #000;
        cursor: pointer;
    }
    .cell-dossier-render-icon-lock{
        position: absolute;
        top: 0px;
        left: -5px;
        svg{
            color: #aaa;
        }
       
    }
}

.grid-tdb-intervention{
    .cell-dossier-render{
        padding: 0.2rem 0 0 1.0rem;
        .cell-dossier-render-icon-lock{
            left: 1px;
        }
    }
}