.master-detail-signalement{


    padding: 0 1.0rem 1.0rem;
    background-color: #ddd;
    border-top: dashed 1px #aaa;
    .master-detail-signalement-grid-container{
        min-height: 1.3rem;
    }
}